<ul class="admtoolbar">
    <li>
        <a href="javascript:void(0)">USERS</a>
        <div class="sub">
           <ul>
               <li>@Html.ActionLink("Manage Users", "index", "users", new { area = "admin" }, null)</li>
           </ul>
        </div>
    </li>
</ul>