@if (Request.IsAuthenticated) 
{
    <text>
        Hello, @Html.ActionLink(User.Identity.Name, "Manage", "Account", routeValues: null, htmlAttributes: new { @class = "username", title = "Manage" })!
        @using (Html.BeginForm("index", "logoff", FormMethod.Post, new { id = "logoutForm", area = "account" })) {
            @Html.AntiForgeryToken()
            <a href="javascript:document.getElementById('logoutForm').submit()">Log off</a>
        }
    </text>
} else {
    <ul>
        <li>@Html.ActionLink("Register", "index", "register", new { area = "account" }, htmlAttributes: new { id = "registerLink" })</li>
        <li>@Html.ActionLink("Log in", "index", "login", new { area = "account" }, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}
