@{
    ViewBag.Title = "The link to change your password has been sent to e-mail";
}

    <h2>@ViewBag.Title</h2>
    
    <p>
    The link to change your password has been sent to e-mail.
    Please, wait for a message, because is changed after every change password query.
    </p>
